<div class="col-md-12 ">
    <table class="table table-hover">
        <caption style="text-align: center;"><b>Зареєстровані користувачі</b></caption>
         <tr style='font-weight: bold;'>
                <td>ID</td>
                <td>Логін</td>
                <td>Пароль</td>
                <td>Імя</td>
                <td>Призвіще</td>
                <td>Отчество</td>
                <td>email</td>
                <td>Мобільний телефон</td>
                <td>Facebook</td>
                <td>Дата народження</td>
            </tr>
    <?php foreach ($viewusers as $user):?>
             <tr>
                <td><?=$user['user_id']?></td>
                <td><?=$user['login']?></td>
                 <td><?=$user['password']?></td>
                 <td><?=$user['username']?></td>
                 <td><?=$user['userfamily']?></td>
                 <td><?=$user['userp']?></td>
                 <td><?=$user['email']?></td>
                 <td><?=$user['mobile']?></td>
                 <td><?=$user['facebook']?></td>
                 <td><?=$user['birthday']?></td>
            </tr>
           

    <?php endforeach;?>
    </table>
</div>