body{
    background: url(../img/index.png);
}
.block{
    border: 2px solid black;
    float: left;

}
.categor{
    text-align: center;
}
@media all and (min-width: 992px) {
    .panel {
        min-height: 250px;
        max-height: 320px;
    }
}
 .leftimg {
    float:left;
    margin: 7px 7px 7px 0; 
   }
   .homebody{
       width: 100%;
       background-color: white;
       border-radius: 10px;
       height: auto;
       margin-top: -12px;
       padding: 5px;
   }
   .footer{
       height: 50px;
       margin-top: 10px;
       background-color: #333333;
       color: white;
       padding: 3px;
       text-align: center;
       border-radius: 10px; 
   }
   .rrr{
       text-align: left;
   }
   .namecategory{
       color: #0058D8;
   }
   .list-group-item:hover .namecategory{
       font-weight:bold;
   }
  .admin {
       color: wheat;
       font-size: 12px;
   }