<div class="col-md-8 col-md-offset-2">
    <img src="/template/img/me.JPG" class="img-rounded leftimg">
     Михальчук Петро Борисович  Михальчук Петро Борисович
      Михальчук Петро Борисович
       Михальчук Петро Борисович
       v
       v
       v Михальчук Петро Борисовичv
        Михальчук Петро Борисович
         Михальчук Петро Борисович
     


       Інтернет - магазин (електронний магазин, онлайновий магазин) - це програмний комплекс, який дозволяє продавати товари чи послуги через мережу Інтернет та автоматизувати управління бізнес-процесами. 
Електронна торгівля у віртуальному магазині ґрунтується на тій же структурі, що і традиційна торгівля.
Класифікують Інтернет-магазини по різних критеріях: по моделі бізнесу, по відношенню з постачальниками, по товарному асортименту, по методах роздрібного продажу товарів в мережі. 
Інтернет-магазини мають свої як позитивні так і негативні сторони. До переваг відносять: економія часу, низькі ціни, безкоштовна доставка, свобода вибору, психологічний комфорт, зручність оплати, анонімність. До недоліків Інтернет-магазину відносять: недосконала система доставки, незручна система оплати, складна система замовлення, нестабільний асортимент, необхідність реєстрації, проблема віртуальності, невиконання вибору замовлення, втрата замовлення.
Типовий варіант Інтернет-магазину складається з наступних функціональних частин: каталог товарів, пошукова система, корзина, реєстраційна форма, форма відправки замовлення.
Було проведено маркетингове дослідження Інтернет-магазину, а саме здійснено опитування користувачів Internet на тему: «Чому покупці, що займаються шопінгом в Інтернет - магазинах, віддають перевагу їм над магазинами традиційним?» результати досліджень були оформленні у вигляді діаграми.
Враховуючи основні вимоги до створення Інтернет-магазину та за допомогою сучасних Інтернет технологій мови програмування PHP та системи управління базами даних MySQL, було розробленно Web-сайт Інтернет-магазин,

   
    
</div>