<div class="col-md-6 col-md-offset-3">
<form role="form">
    <?php foreach($categories as $category):?>
    <div style="border: 2px solid red; margin-top: 10px;">
    <label for="exampleInputEmail1">НАЗВА КАТЕГОРІЇ</label>
    <input type="text" class="form-control" value="<?=$category['title']?>">
    <input type="text" class="form-control" value="<?=$category['icon']?>">
    </div>
     <button type="submit" class="btn btn-default" style="margin-top: 10px">Зберегти</button>
    <?php endforeach; ?>
   
</form>
</div>